input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.small-icon{
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
.mat-column-small {
  max-width: 75px;
  flex: 0 0 auto;
}
.mat-column-big{
 flex: 1 1 auto;
}
.container{
  padding: 20px;
  width: 750px;
  display: flex;
}
